alembic
asyncpg
databases
email-validator
fastapi
fastapi-utils-sqlalch2
fastapi-utilities
fastapi-versioning
gunicorn
httpx
loguru
psycopg
pydantic
pyjwt
python-dotenv
pytest
python-multipart
psycopg2-binary
SQLAlchemy==2.0.31
sqlalchemy-utils
uvicorn